<!--The content below is only a placeholder and can be replaced.-->
<div class="containerBody">
<div class="navbar-wrap">
  <nav class="navbar navbar-light " style="background-color: #00296f;">
    <span class="navbar-brand" href="#">
      <img width="100px" src="../assets/bcp.jpeg" alt="">
    </span>
  </nav>
</div>
<div class="row content custom-container-list">
  <div class="col-sm-12">
    <router-outlet></router-outlet>
    <ngx-spinner bdColor="rgba(100%, 100%, 100%, 1)">
      <img  src='../assets/logo.png' />
    </ngx-spinner>
  </div>
</div>
</div>


