<div class="row">
  <div class="col-sm">
    <h4>Agencia BCP</h4>
  </div>
</div>
<form [formGroup]="agencyForm">
  <div class="jumbotron col-sm-8" style="margin:auto">
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Agencia</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="agencia">
        <div *ngIf="formSubmitted && agencyForm.get('agencia').errors"  class="invalid-error">
          <div *ngIf="agencyForm.get('agencia').errors.required">Agencia es requerido</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Distrito</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="distrito">
        <div *ngIf="formSubmitted && agencyForm.get('distrito').errors"  class="invalid-error">
          <div *ngIf="agencyForm.get('distrito').errors.required">Distrito es requerido</div>
        </div>
      </div>

    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Provincia</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="provincia">
        <div *ngIf="formSubmitted && agencyForm.get('provincia').errors" class="invalid-error">
          <div *ngIf="agencyForm.get('provincia').errors.required">Provincia es requerido</div>
        </div>
      </div>
    </div>
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Departamento</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="departamento">
            <div *ngIf="formSubmitted && agencyForm.get('departamento').errors" class="invalid-error">
              <div *ngIf="agencyForm.get('departamento').errors.required">Departamento es requerido</div>
            </div>
          </div>
        </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Direccion</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="direccion">
                <div *ngIf="formSubmitted && agencyForm.get('direccion').errors" class="invalid-error">
                  <div *ngIf="agencyForm.get('direccion').errors.required">Direccion es requerido</div>
                </div>
              </div>
            </div>
    <div class="form-group row">&nbsp;</div>
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">&nbsp;</label>
      <div class="col-sm-10">
          <button type="button" class="btn btn-success fa fa-floppy-o" (click)="save($event)" >&nbsp;Save</button>&nbsp;
          <button type="button" class="btn btn-light fa fa-ban" routerLink='/agencies'>&nbsp;Cancel</button>
      </div>
    </div>
  </div>
</form>
