.list-action-button{
    padding: 8px 0px 8px 0px;
    position: fixed;
    bottom: 0;
    right: 15%;
    z-index: 200;
}

.delete-label{
    cursor: pointer;
    color: #e95024;
    position: absolute;
    right: 0;
    border: none;
    background: none;
    right: .5em;
    top: 1em;
}

.action-label{
    color: black !important;

}
.btn {
  background-color: #e95024;
  width:60px;
  height:60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 200;
  text-decoration: none;;
}

.fa-plus:before {
  color: white;
}

.button-container{
  z-index: 200;
}

a:hover, a:active{
  text-decoration: none;
}

.wrapper {
  position: relative;
}

.container-agency{
  display: flex;
  color: black;
  flex-grow: 1;
  flex-direction: column;
  padding: 1em;
}

.container-wrapper
{
  display: flex;
  margin-bottom: 1.5em;
  border-radius: 3px;
  box-shadow: 1px 3px 4px #ececec;
  position: relative;
}

.wrapper-img{
  display: flex;
}

.title{
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1em;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  color: #706f6f;
  font-size: .8em;

}
.container-more{
      line-height: 1.3em;
    margin-top: 1em;
    font-size: .9em;
}

@media (max-width: 480px)
 {
   img {
     width: 100px;
   }
 }

 @media (min-width: 480px){
   .title {
     width:100%
   }
 }
