<div class="row header">
  <div class="col-sm">
    <h4>Agencias BCP</h4>
  </div>
</div>



<div class="column content wrapper">
    <div class="button-container">
      <div class="list-action-button">
        <a href="#" routerLink="add" class="btn btn-link float-right fa fa-plus fa-lg action-label"></a>
      </div>
    </div>
        <div *ngFor="let agency of agencies | async; index as i">
          <a href="javascript:;" (click)='viewAgency(agency)' class="container-wrapper">
            <div class="wrapper-img">
              <img data-id="{{i}}" src="http://lorempixel.com/200/100/?id={{i}}">
            </div>
            <div class="container-agency">
              <div>
                <div class="title">{{ agency.agencia }}</div>
                <div class="subtitle">{{ agency.distrito }}</div>
              </div>
              <div class="container-more">
                <div>{{ agency.provincia }}</div>
                <div>{{ agency.departamento }}</div>
                <div>{{ agency.direccion }}</div>
              </div>
            </div>
            <button class='delete-label fa fa-trash-o' (click)='deleteAgency(agency)'></button>
          </a>

        </div>
</div>
