/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

h4 {
  padding: 1.5em 0;
}

.header h4 {
  padding: 1em 0;
}
