<div class="row">
  <div class="col-sm">
    <h4>Agencias del BCP</h4>
  </div>
</div>
<div class="jumbotron col-sm-8" style="margin:auto">
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Agencias</label>
    <div class="col-sm-10">
      <label for="" class="col-sm-12 col-form-label">{{(agency$ | async).agencia}}</label>
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Distrito</label>
    <div class="col-sm-10">
      <label for="" class="col-sm-12 col-form-label">{{(agency$ | async).distrito}}</label>
    </div>

  </div>

  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Provincia</label>
    <div class="col-sm-10">
      <label for="" class="col-sm-12 col-form-label">{{(agency$ | async).provincia}}</label>
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Departamento</label>
    <div class="col-sm-10">
      <label for="" class="col-sm-12 col-form-label">{{(agency$ | async).departamento}}</label>
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Direccion</label>
    <div class="col-sm-10">
      <label for="" class="col-sm-12 col-form-label">{{(agency$ | async).direccion}}</label>
    </div>

  </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">&nbsp;</label>
      <div class="col-sm-10">
          <button type="button" class="btn btn-success fa fa-pencil-square-o"
            (click)='editAgency(agency)'>&nbsp;Edit</button>&nbsp;
          <button type="button" class="btn btn-light fa fa-ban" routerLink='/agencies' >&nbsp;Cancel</button>
      </div>
    </div>
  </div>
